<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finpo</title>
    @Styles.Render("~/Content/CSS")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Content/lib")
    @Scripts.Render("~/Content/js")
    @Scripts.Render("~/Content/contactform")
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

    <link href="~/Content/CSS/aboutus.css" rel="stylesheet" />
    <link href="~/Content/CSS/approval.css" rel="stylesheet" />
    <link href="~/Content/CSS/approved_guests.css" rel="stylesheet" />
    <link href="~/Content/CSS/approved_students.css" rel="stylesheet" />
    <link href="~/Content/CSS/approving_guests.css" rel="stylesheet" />
    <link href="~/Content/CSS/approving_students.css" rel="stylesheet" />
    <link href="~/Content/CSS/contact.css" rel="stylesheet" />
    <link href="~/Content/CSS/guestform.css" rel="stylesheet" />
    <link href="~/Content/CSS/home.css" rel="stylesheet" />
    <link href="~/Content/CSS/login.css" rel="stylesheet" />
    <link href="~/Content/CSS/record_guests.css" rel="stylesheet" />
    <link href="~/Content/CSS/record_student.css" rel="stylesheet" />
    <link href="~/Content/CSS/studentform.css" rel="stylesheet" />
    <link href="~/Content/CSS/R_admin.css" rel="stylesheet" />
    <link href="~/Content/CSS/style.css" rel="stylesheet" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">


    <!-- Bootstrap CSS File -->
    <link href="~/Content/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/lib/wow/wow.js" rel="stylesheet">
    <link href="~/Content/lib/wow/wow.min.js" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="~/Content/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/Content/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="~/Content/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link href="~/Content/CSS/contactform/contactform.js" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">
</head>
<body>

    @RenderBody()

</body>
</html>

